/* Root Scope */
:root {
  /* CSS Variables */

  /* Define Colors as Colors */
  --black: #1b2d45;
  --green: #00ebc7;
  --red: #ff5470;
  --yellow: #fde24f;
  --darkBlue: #00214d;
  --grey: #bfbfbf;
  --lightGrey: #f2f4f6;
  --darkGrey: #222;
  --white: #fff;

  /* Define Colors Intentions */
  --primary: var(--green);
  --danger: var(--red);
  --background: var(--lightGrey);
  --textColor: var(--black);
  --buttonColor: var(--primary);
  --buttonTextColor: var(--black);
  --lineColor: var(--darkBlue);
  --cardBackground: var(--white);
  --headerBackground: var(--darkBlue);
  --footerTextColor: var(--lightGrey);
  --footerBackground: var(--black);

  /* Styles */
  --line: solid 1px var(--lineColor);

  /* Typography */
  /* 100% is 16px, 112.5% is 18px */
  --baseFontSize: 100%;
  --headingFont: "Space Mono", monospace;
  --bodyFont: "Work Sans", sans-serif;
  --h1: 3.052rem;
  --h2: 2.441rem;
  --h3: 1.953rem;
  --h4: 1.563rem;
  --h5: 1.25rem;
  --smallText: 0.8rem;

  /* Elevation */
  --level-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --level-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --level-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --level-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  /* Positioning */
  --containerPadding: 2.5%;
  --headerHeight: 3rem;
  --borderRadius: 10px;
}

/* Don't use IDs for styling, use element or classes */
/* Don't use !important */

/* Specificity */
/* 
Least to Most
 - Elements h1, div
 - Class, attribute
 - IDs
 - !important
 - Load Order, last will apply

 - Nested classes will take precedence over single class
*/

/* Typography 
https://type-scale.com/
https://www.fontpair.co/

em is relative to parent or container
rem is relative to html root
avoid pixels

*/

/* From https://type-scale.com/ */
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400|Space+Mono:400");

/*16px*/
html {
  font-size: var(--baseFontSize);
  /* This adjusts how the padding is measured?? */
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--background);
  color: var(--textColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
}

main {
  /* margin: 0 auto;
  width: 95%; */
  padding: calc(3rem + var(--headerHeight)) var(--containerPadding);
}

header {
  background: var(--headerBackground);
  color: var(--white);
  height: var(--headerHeight);
  box-shadow: var(--level-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--containerPadding);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

header nav a {
  color: var(--white);
  text-decoration: none;
}

header nav a:hover {
  border-bottom: solid 2px var(--yellow);
}

/* The plus a only puts the margin on a element it it is next to another element */
header nav a + a {
  margin-left: 10px;
}

.carousel {
  /* background: var(--grey); */

  /* background: linear-gradient(black, white); */

  background-image: url("/images/cub_large_4.png");
  height: 60vh;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* background-size: contain; */
  /* background-size: auto; */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  /* background-image: url("/images/LPA_black_256.png");
  background-repeat: no-repeat;
	background-position: center; */

  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;

  height: 256px;
  width: 500px;
  /* align-content: center; */

  opacity: 0.8;
}

footer {
  background: var(--footerBackground);
  color: var(--white);
  padding: 2rem var(--containerPadding);
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* footer a {
  color: var(--footerTextColor);
}

footer p {
  margin-bottom: 0;
  max-width: none;
} */

/* html, body {
	position: relative;
	width: 100%;
	height: 100%;
} */

/* body {
  color: #333;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
} */

/* input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
} */

/* input:disabled {
  color: #ccc;
} */

/* button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
} */
